
body {
	margin: 0;
	font-family: "Source Sans Pro","PT Sans","PTSansRegular",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	background-color: #fff;
}

.container {
	padding: 0;
	margin: 0 auto;
	width: 100%;
}

header.fullSize {
	min-width: 1170px;
	height: 48px;
	border-top: 1px solid #fafbfb;
	border-bottom: 1px solid #afbbc1;
	z-index: 100;
	display: block;
}

#logo {
	float: left;
	margin: 8px 12px;
	width: 32px;
	height: 32px;
	background: url(/img/logo.png) no-repeat;
	background-size: 32px auto;
}

#switcher {
	float: left;
	border-left: 1px solid #f3f3f3;
	border-right: 1px solid #f3f3f3;
	width: 200px;
	padding-top: 6px;
	cursor: pointer;
	overflow: hidden;
	transition: border .4s;
	-webkit-transition: border .4s;
	-moz-transition: border .4s;
	-o-transition: border .4s;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#switcher .nav-header, #switcher .bucket-name {
  margin: 0;
  padding: 0 10px 0 10px;
}

#switcher .truncate {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#switcher a {
  position: absolute;
  left: 240px;
  top: 14px;
  font-size: 16px;
  display: inline;
  color: #a9b6bd;
  font-weight: normal;
  transition: color .4s;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
}

#switcher .bucket-name {
  font-weight: bold;
  margin-top: -3px;
  padding-bottom: 4px;
}

.nav-header {
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .5px;
	line-height: 20px;
	color: #afbbc1;
	text-shadow: none;
	text-transform: uppercase;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
}

.content {
	min-height: 830px;
	clear: both;
	overflow: hidden;
	min-width: 1170px;
	background: #fff;
}

.pull-right {
  float: right;
}

.resource #name {
	margin-right: 380px;
}