{% include '../includes/head.html' %}
  
    <body>
        <div class="container">
            {% include '../includes/header.html' %}
            <div class="content">
                <div class="page-header">
                {% block main %}{% endblock %}
                </div>
                <div class="messages">
                    {% include '../includes/messages.html' %}
                </div>
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
            {% include '../includes/footer.html' %}
            {% include '../includes/foot.html' %}
        </div>
    </body>
</html>
